_auth = c2FpOTYzMGtAZ21haWwuY29tOmNtVm1kR3R1T2pBeE9qRTNNVFk0TURRd01EVTZNMU5IUmpSM1VrcFNWRXR2TURKSVJVWmxPV0p6TW1oR1QzWXc=
email = sai9630k@gmail.com
always-auth = true
registry=https://virtualhost.jfrog.io/artifactory/api/npm/npmproject1-npm/
